.bs-icon {
  --bs-icon-size: .75rem;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: var(--bs-icon-size);
  width: calc(var(--bs-icon-size) * 2);
  height: calc(var(--bs-icon-size) * 2);
  color: var(--bs-primary);
}

.bs-icon-xs {
  --bs-icon-size: 1rem;
  width: calc(var(--bs-icon-size) * 1.5);
  height: calc(var(--bs-icon-size) * 1.5);
}

.bs-icon-sm {
  --bs-icon-size: 1rem;
}

.bs-icon-md {
  --bs-icon-size: 1.5rem;
}

.bs-icon-lg {
  --bs-icon-size: 2rem;
}

.bs-icon-xl {
  --bs-icon-size: 2.5rem;
}

.bs-icon.bs-icon-primary {
  color: var(--bs-white);
  background: var(--bs-primary);
}

.bs-icon.bs-icon-primary-light {
  color: var(--bs-primary);
  background: rgba(var(--bs-primary-rgb), .2);
}

.bs-icon.bs-icon-semi-white {
  color: var(--bs-primary);
  background: rgba(255, 255, 255, .5);
}

.bs-icon.bs-icon-rounded {
  border-radius: .5rem;
}

.bs-icon.bs-icon-circle {
  border-radius: 50%;
}

.buton:hover {
  color: var(--bs-black);
  background-color: var(--bs-gray-200);
}

.buton {
  background-color: #000000;
}

.btn {
  background: #000000;
}

.btn:hover {
  background-color: var(--bs-light-bg-subtle);
  color: #000000;
}

.btn {
  border-color: #000000;
}

.btn:hover {
  border-color: #000000;
}

a:hover {
  border-bottom: var(--bs-light);
}

.nav-item:hover {
  border-bottom: var(--bs-light);
  border: 4px;
}

a:hover {
  border-bottom: var(--bs-light);
  border-style: solid;
}

.accordion-button:hover {
  background-color: #000000;
}

.accordion-button {
  background-color: var(--bs-gray-dark);
}

h1 {
  color: var(--bs-light);
}

h1:hover {
  color: var(--bs-info-border-subtle);
}

h1 {
  color: var(--bs-light);
}

h1:hover {
  color: var(--bs-highlight-bg);
}

.lol.2 {
}

.lol {
  color: var(--bs-light);
}

.lol:hover {
  color: var(--bs-info-border-subtle);
}

h1 {
}

.lola {
  color: var(--bs-light);
}

.lola:hover {
  color: var(--bs-danger-border-subtle);
}

p {
  color: var(--bs-light);
}

.gorras:hover {
  color: var(--bs-danger);
}

.gorras {
}

.las.mejores:hover {
  color: var(--bs-form-invalid-color);
}

